In [14]:
import halo_analysis as halo
import gizmo_analysis as gizmo
import numpy as np
import pandas as pd

In [15]:
gals = [
    "m12f_cdm-only",
    "m12i_cdm-only",
    "m12m_cdm-only",
    #     'm12f_sidm1',
    #     'm12i_sidm1',
    #     'm12m_sidm1'
]


def scaleRadii(sim_dir, snapshot):
    halt = halo.io.IO.read_tree(
        simulation_directory=sim_dir,
        species="dark",
        species_snapshot_indices=[snapshot],
    )
    current_idx = np.where((halt["snapshot"] == 600))
    r_vir = halt["radius"][halt["host.index"][current_idx]][0]
    #     r_star_90 = halt['star.radius.90'][halt['host.index'][current_idx]][0]

    df = {
        "virial": [r_vir],
        #         'star.radius.90': [r_star_90]
    }

    return pd.DataFrame(df)

In [16]:
for sim in gals:
    sim_dir = "../data/" + sim
    df = scaleRadii(sim_dir, 60)
    df.to_hdf("radii_DMO_{}.hdf".format(sim), "w")

# in utilities.simulation.Snapshot():
* reading:  data/m12f_cdm-only/snapshot_times.txt

* read 31954327 halos from:  data/m12f_cdm-only/halo/rockstar_dm/catalog_hdf5/tree.hdf5
! cannot find halo dark files in:  data/m12f_cdm-only/halo/rockstar_dm/catalog_hdf5/
! found no halo ['dark'] files in:  ../data/m12f_cdm-only/halo/rockstar_dm/


# in utilities.simulation.Snapshot():
* reading:  data/m12i_cdm-only/snapshot_times.txt

* read 21036919 halos from:  data/m12i_cdm-only/halo/rockstar_dm/catalog_hdf5/tree.hdf5
! cannot find halo dark files in:  data/m12i_cdm-only/halo/rockstar_dm/catalog_hdf5/
! found no halo ['dark'] files in:  ../data/m12i_cdm-only/halo/rockstar_dm/


# in utilities.simulation.Snapshot():
* reading:  data/m12m_cdm-only/snapshot_times.txt

* read 45181061 halos from:  data/m12m_cdm-only/halo/rockstar_dm/catalog_hdf5/tree.hdf5
! cannot find halo dark files in:  data/m12m_cdm-only/halo/rockstar_dm/catalog_hdf5/
! found no halo ['dark'] files in:  ../data/m12m_cdm-only/halo/rockstar_dm/

In [18]:
df_f_cdm = pd.read_hdf(f"radii_DMO_{gals[0]}.hdf")
df_i_cdm = pd.read_hdf(f"radii_DMO_{gals[1]}.hdf")
df_m_cdm = pd.read_hdf(f"radii_DMO_{gals[2]}.hdf")

In [19]:
df_f_cdm

      virial
0  383.71225

In [20]:
df_i_cdm

       virial
0  339.317657

In [21]:
df_m_cdm

       virial
0  364.501434