In [9]:
import numpy as np
import pandas as pd
from astropy.io.ascii import read

In [61]:
md = pd.read_hdf('data_lmc_metadata.hdf5')
md

            m12f    m12i    m12w     m12m
snapshot     463     356     359      290
tree.idx  221716  422845  403617  1821315

In [62]:
def cvtRedshift(z, sim = '../data/latte_metaldiff/m12i_res7100'):
    times = sim + '/snapshot_times.txt'
    snapshot_data = read(times, format = 'commented_header', header_start = 2)
    return snapshot_data[np.argmin(abs(snapshot_data['redshift'] - z))]['time[Gyr]']

def cvtSnapshot(snapshot, sim = '../data/latte_metaldiff/m12i_res7100'):
    times = sim + '/snapshot_times.txt'
    snapshot_data = read(times, format = 'commented_header', header_start = 2)
    return snapshot_data[snapshot]['time[Gyr]']

In [63]:
data = {
    'm12f': {
        'peri.z': .26,
        'peri.t': cvtRedshift(.26, sim = '../data/latte_metaldiff/m12f_res7100'),
        'peri.s': md['m12f']['snapshot']
    },
    
    'm12i':{
        'peri.z': .6,
        'peri.t': cvtRedshift(.6, sim = '../data/latte_metaldiff/m12i_res7100'),
        'peri.s': md['m12i']['snapshot']
    },
    
    'm12m':{
        'peri.z': .92,
        'peri.t': cvtRedshift(.92, sim = '../data/latte_metaldiff/m12m_res7100'),
        'peri.s': md['m12m']['snapshot']
    },
    
    'm12w':{
        'peri.z': .59,
        'peri.t': cvtRedshift(.59, sim = '../data/latte_metaldiff/m12w_res7100'),
        'peri.s': md['m12w']['snapshot']
    },
}

data = pd.DataFrame(data)

In [64]:
data.to_hdf('data_pericenters.h5', 'w')

In [65]:
data

              m12f        m12i        m12m        m12w
peri.z    0.260000    0.600000    0.920000    0.590000
peri.t   10.741875    8.057617    6.327317    7.945755
peri.s  463.000000  356.000000  290.000000  359.000000